{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="page-header">
          <h1>{{object.first_name}} {{object.last_name}} <small> {{object.company.name}}</small></h1>
        </div>
        <div class="">
          <h3>{{object.phone_number}}<br><br><a href="mailto: {{object.email}}">{{object.email}}</a></h3>
        </div>
      </div>
      <div class="col-lg-4">
        <img class="thumbnail" width="200px" height="200px" src="{{ object.profile_picture_url }}" alt="{{object.first_name}} {{object.last_name}}" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="page-header">
          <h4>Address</h4>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            {{object.street}}<br>
            {{object.street2}}<br>
            {{object.city}},
            {{object.state}}
            {{object.zip_code}}<br>
            {{object.country}}
          </div>
        </div>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-5">
        <div class="page-header">
          <h4>Online Information</h4>
        </div>
        <table class='table table-striped'>
          <tr><td><strong>Website: </strong></td><td><a href="{{object.website}}">{{object.website}}</a></td></tr>
          <tr><td><strong>Twitter: </strong></td><td><a href="{{object.twitter}}">{{object.twitter}}</a></td></tr>
          <tr><td><strong>Facebook: </strong></td><td><a href="{{object.facebook}}">{{object.facebook}}</a></td></tr>
          <tr><td><strong>LinkedIn: </strong></td><td><a href="{{object.linkedin}}">{{object.linkedin}}</a></td></tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="nav nav-pills nav-justified">
          <li role="presentation"><a type="button" class="btn btn-primary" href="{% url 'create_task_view' %}">Create a Task for {{ object.first_name }}</a></li>
          <li role="presentation"><a type="button" class="btn btn-primary" href="{% url 'create_note_view' %}">Create a Note for {{ object.first_name }}</a></li>
          <li role="presentation"><a type="button" class="btn btn-primary" href="{% url 'create_tag_view' %}">Create a Tag for {{ object.first_name }}</a></li>
          <li role="presentation"><a type="button" class="btn btn-danger" href="{% url 'asset_update_view' object.pk %}">Update {{ object.first_name }}'s Contact</a></li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="page-header">
        <h3>Notes: </h3>
      </div>
      <table class='table table-striped'>
        <tr>
          <td>#</td>
          <td>Note:</td>
          <td>Note Creator:</td>
        </tr>
        {% for note in notes  %}
        <tr>
          <td><a class="btn btn-primary btn-xs" href="{% url 'note_detail_view' note.pk %}" role="button">{{note.pk}}</a></td>
          <td>{{ note.note }}</td>
          <td>{{ note.note_creator}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="row">
      <div class="page-header">
        <h3>Tags: </h3>
      </div>
      <table class='table table-striped'>
        <tr>
          <td>#</td>
          <td>Tag:</td>
        </tr>
        {% for tag in tags  %}
        <tr>
          <td><a class="btn btn-primary btn-xs" href="{% url 'tag_detail_view' tag.pk %}" role="button">{{tag.pk}}</a></td>
          <td>{{ tag.tag}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="row">
      <div class="page-header">
        <h3>Tasks Assigned to {{ request.user }}: </h3>
      </div>
      <table class='table table-striped'>
        <tr>
          <td>#</td>
          <td>Task is About:</td>
          <td>Task:</td>
          <td>Due Date:</td>
          <td>Completed:</td>
        </tr>
        {% for task in tasks  %}
        <tr>
          <td><a class="btn btn-primary btn-xs" href="{% url 'task_detail_view' task.pk %}" role="button">{{task.pk}}</a></td>
          <td>{{ task.task_is_about}}</td>
          <td>{{ task.task}}</td>
          <td>{{ task.due_date}}</td>
          <td>{{ task.completed}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
