{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="page-header">
    <h1>Update {{ object.first_name }}'s Note <small> {{ request.user }}</small></h1>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <form class="" action=" " method="post">
          {% csrf_token %}
          {{ form|bootstrap}}
          <input class="btn btn-primary" type="submit" name="create_contact" value="Update Contact">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
