{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Tag List <small>{{ request.user }}</small></h1>
    </div>
    <table class='table table-striped'>
      <tr>
        <td>#</td>
        <td>Tag:</td>
        <td>Tag Creator:</td>
        <td></td>
      </tr>
      {% for object in object_list  %}
      <tr>
        <td>{{ object.pk }}</td>
        <td>{{ object.tag }}</td>
        <td>{{ object.user }}</td>
        <td><a class="btn btn-primary" href="{% url 'tag_detail_view' object.pk %}" role="button">Tag Details</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
