{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRM</title>
    <link rel="stylesheet" href="{% static "app_crm/css/bootstrap.css" %}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "app_crm/css/main.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="{% url 'login' %}">Login</a></li>
        <li role="presentation"><a href="{% url 'create_asset_view' %}">Create Contact</a></li>
        <li role="presentation"><a href="{% url 'note_list_view' %}">Notes</a></li>
        <li role="presentation"><a href="{% url 'create_note_view' %}">Create Note</a></li>
        <li role="presentation"><a href="{% url 'task_list_view' %}">Tasks</a></li>
        <li role="presentation"><a href="{% url 'crate_task_view' %}">Create Task</a></li>
        <li role="presentation"><a href="{% url 'tag_list_view' %}">Tags</a></li>
        <li role="presentation"><a href="{% url 'create_tag_view' %}">Create Tag</a></li>
        <li role="presentation"><a href="#">Calendar</a></li>
      </ul>
    </div>
    {% block content %}
      There is no content here.
    {% endblock %}
  </body>
</html>
