{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load staticfiles i18n %}


{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Dashboard <small>{{ request.user }}</small></h1>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="nav nav-pills nav-stacked">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li role="presentation"><a href="{% url 'create_asset_view' %}">Create Contact</a></li>
                <li role="presentation"><a href="{% url 'create_note_view' %}">Create Note</a></li>
                <li role="presentation"><a href="{% url 'create_task_view' %}">Create Task</a></li>
                <li role="presentation"><a href="{% url 'create_tag_view' %}">Create Tag</a></li>
              </ul>
          </li>
          <li role="presentation"><a href="{% url 'note_list_view' %}">Notes</a></li>
          <li role="presentation"><a href="{% url 'task_list_view' %}">Tasks</a></li>
          <li role="presentation"><a href="{% url 'tag_list_view' %}">Tags</a></li>
          <li role="presentation"><a href="#">Calendar</a></li>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="page-header">
          <h5>Contact List</h5>
        </div>
        <table class='table table-hover'>
          {% for asset in assets %}
            <tr>
              <td><h3>{{ asset.first_name }} {{ asset.last_name }}</h3><h5>{{ asset.company }}<br><h5>{{ asset.phone_number }}</h5><a href="mailto:{{ asset.email }}">{{ asset.email }}</a></h5></td>
              <td><img class="thumbnail" width="95px" height="95px" src="{{ asset.profile_picture_url }}" alt="{{asset.first_name}} {{asset.last_name}}" />
                <br><a class="btn btn-primary btn-xs" href="{% url 'asset_detail_view' asset.pk %}" role="button">Contact Details</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-lg-4">
        <div class="page-header">
          <a href="{% url 'task_list_view' %}"><h5>Tasks</h5></a>
        </div>
        <table class="table table-hover">
          {% for task in tasks %}
            <tr>
              <td>
              <div class="row">
                <div class="col-lg-1">
                  <a class="btn btn-primary btn-xs" href="{% url 'task_detail_view' task.pk %}">{{ task.pk }}</a>
                </div>
                <div class="col-lg-8">
                  {{ task.task }}
                </div>
                <div class="col-lg-3">
                  {{ task.due_date|date:"m/d/Y" }}
                </div>
              </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="page-header">
          <a href="{% url 'note_list_view' %}"><h5>Notes</h5></a>
        </div>
        <table class="table table-hover">
          {% for note in notes  %}
            <tr>
              <td>
              <div class="row">
                <div class="col-lg-1">
                  <a class="btn btn-primary btn-xs" href="{% url 'note_detail_view' note.pk %}">{{ note.pk }}</a>
                </div>
                <div class="col-lg-9">
                  {{ note.note }}
                </div>
              </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="page-header">
          <a href="{% url 'note_list_view' %}"><h5>Tags</h5></a>
        </div>
        <table class="table table-hover">
          {% for tag in tags  %}
            <tr>
              <td>
              <div class="row">
                <div class="col-lg-1">
                  <a class="btn btn-primary btn-xs" href="{% url 'tag_detail_view' tag.pk %}">{{ tag.pk }}</a>
                </div>
                <div class="col-lg-9">
                  {{ tag.tag }}
                </div>
              </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
{% endblock %}
